{% extends 'base.html.twig' %}

{% block body %}
	<header class="py-5 bg-light border-bottom mb-4">
		<div class="container">
			<div class="text-center my-5">';
				<h1 class="fw-bolder">Error 401 Utilisateur non authentifié !
				</h1>
				<p class="lead mb-0 fst-italic">Don't worry, be happy !</p>
			</div>
		</div>
	</header>

	<p class="text-center">
		<a href="{{ path('figures_index') }}">return to the homepage</a>.
	</p>
{% endblock %}
